@page "/EditStudentInfo/{id}"
@using AKSoftware.Localization.MultiLanguages;
@using SchoolWebsite.Client.Pages.Students
@inject ILanguageContainerService langService
<h3>@langService.Keys["EditStudent"]</h3>
<AddStudent student="@editedStudent"></AddStudent>
