@page "/StudentData/{id}"
@using AKSoftware.Localization.MultiLanguages;
@using SchoolWebsite.Client.Components
@inject ILanguageContainerService langService
<div class="container">

    <Header HeaderName="Student information" />

    <div class="row">
        @if (valid)
        {

            <RepresentData Records="StudData" onEdit="EditStudent" onDelete="DeleteStudent"></RepresentData>

            <div class="border border-2 border-dark mb-4 p-3 row">
                <CustomTable Header="Enrolled courses"
                             Items="student.Courses"
                             ItemType="Course"
                             ShowButtons="false"
                             OnRemoveItem="CancelCourse"
                              Btn="-"
                              BtnColour="btn-danger"/>

                <CustomTable Header="Available Courses"
                             Items="AvailableCourses"
                             ItemType="Course"
                             ShowButtons="false"
                             OnRemoveItem="EnrollCourse"
                             Btn="+"
                             BtnColour="btn-success" />
            </div>
        }
            <ValidationMessages alertClass="@validation.alertClass" message="@validation.message"></ValidationMessages>
    </div>
</div>
