@for (int i = 0; i < rowNum; i++)
{
    <tr @attributes="Additional">
        @foreach (var content in TableContents)
        {
            <td>content</td>
        }
    </tr>
}
@code
{
    [Parameter]
    public int colNum { get; set; }
    [Parameter]
    public int rowNum { get; set; }
    [Parameter]
    public List<string> TableContents { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Additional { get; set; }

}